services:
  plex:
    image: linuxserver/plex:latest
    container_name: plex
    restart: always
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - VERSION=latest
      # NVIDIA SPECIFIC ENV VARS
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - /var/lib/docker_data/plex:/config
      - /data:/data
      # RAM TRANSCODING (Optional but recommended)
      - /dev/shm:/transcode
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    labels:
      - homepage.group=Media
      - homepage.name=Plex
      - homepage.icon=plex.png
      - homepage.href=https://app.plex.tv/desktop
      # WIDGET CONFIG
      - homepage.widget.type=plex
      - homepage.widget.url=http://192.168.30.189:32400 # Use LAN IP for Plex
      - homepage.widget.key=${PLEX_TOKEN}

  overseerr:
    image: sctx/overseerr:latest
    container_name: overseerr
    restart: unless-stopped
    environment:
      - LOG_LEVEL=info # Debug is too noisy for production
      - TZ=America/New_York
    volumes:
      - /var/lib/docker_data/overseerr:/app/config
    # LOG ROTATION
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - homepage.group=Docker
      - homepage.name=Overseerr
      - homepage.icon=overseerr.png
      - homepage.href=https://requests.streametz.com
      - homepage.description=Request Manager
      # CROWDSEC INTEGRATION
      - "type=overseerr" 

  radarr:
    container_name: radarr
    image: linuxserver/radarr:latest
    restart: always
    deploy:
      resources:
        limits:
          memory: 8G
    environment:
      - TZ=America/New_York
      - UMASK=002
      - PUID=1004
      - PGID=1007
    volumes:
      - /var/lib/docker_data/radarr:/config:rw
      # UNIFIED VOLUME MAPPING (Enables Hardlinks)
      - /data:/data:rw 
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - homepage.group=Media
      - homepage.name=Radarr
      - homepage.icon=radarr.png
      - homepage.href=https://radarr.streametz.com
      # WIDGET CONFIG
      - homepage.widget.type=radarr
      - homepage.widget.url=http://radarr:7878
      - homepage.widget.key=${RADARR_API_KEY}

  sabnzbd:
    container_name: sabnzbd
    image: linuxserver/sabnzbd:latest
    restart: always
    deploy:
      resources:
        limits:
          cpus: '16.0' 
          memory: 16G
    environment:
      - TZ=America/New_York
      - UMASK=002
      - PUID=1005
      - PGID=1007
    volumes:
      - /var/lib/docker_data/sabnzbd:/config:rw
      - /data:/data:rw 
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - homepage.group=Downloads
      - homepage.name=Sabnzbd
      - homepage.icon=sabnzbd.png
      - homepage.href=https://sab.streametz.com
      # WIDGET CONFIG
      - homepage.widget.type=sabnzbd
      - homepage.widget.url=http://sabnzbd:8080
      - homepage.widget.key=${SABNZBD_API_KEY}

  sonarr:
    container_name: sonarr
    image: linuxserver/sonarr:latest
    restart: always
    deploy:
      resources:
        limits:
          memory: 8G
    environment:
      - TZ=America/New_York
      - UMASK=002
      - PUID=1003
      - PGID=1007
    volumes:
      - /var/lib/docker_data/sonarr:/config:rw
      - /data:/data:rw
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - homepage.group=Media
      - homepage.name=Sonarr
      - homepage.icon=sonarr.png
      - homepage.href=https://sonarr.streametz.com
      # WIDGET CONFIG
      - homepage.widget.type=sonarr
      - homepage.widget.url=http://sonarr:8989
      - homepage.widget.key=${SONARR_API_KEY}

  tautulli:
    container_name: tautulli
    image: linuxserver/tautulli:latest
    restart: always
    deploy:
      resources:
        limits:
          memory: 8G
    environment:
      - TZ=America/New_York
      - PUID=1002
      - PGID=1007
    volumes:
      - /var/lib/docker_data/tautulli:/config:rw
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    labels:
      - homepage.group=Media
      - homepage.name=Tautulli
      - homepage.icon=tautulli.png
      - homepage.href=https://stats.streametz.com
      # WIDGET CONFIG
      - homepage.widget.type=tautulli
      - homepage.widget.url=http://tautulli:8181
      - homepage.widget.key=${TAUTULLI_API_KEY}

networks:
  default:
    name: proxy
    external: true
